<div class="layout">
  <div class="tp-states">
    <div class="st-container">
      <img src="assets/images/state1.jpg" alt="">
      <h5 class="centered">Lagos</h5>
    </div>
    <div class="st-container">
      <img src="assets/images/state2.jpg" alt="">
      <h5 class="centered">Kaduna</h5>
    </div>
    <div class="st-container">
      <img src="assets/images/state3.jpg" alt="">
      <h5 class="centered">Abuja</h5>
    </div>
    <div class="st-container">
      <img src="assets/images/state4.jpg" alt="">
      <h5 class="centered">Rivers</h5>
    </div>
    <div class="st-container">
      <img src="assets/images/state5.jpg" alt="">
      <h5 class="centered">Kebbi</h5>
    </div>
  </div>

  <div class="f-properties">
    <h3>Featured Properties in <strong>Lagos</strong></h3>
    <div class="propList">
      <div class="card">
        <img src="assets/images/2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="prop-wrap">
            <h4>$3,500</h4>
            <div class="greenBTN">
              <a>View Property</a>
            </div>
          </div>
          <span>Lekki, Lagos</span>
          <div class="prop-wrap">
            <i class="fas fa-bed"><span>5 Beds</span></i>
            <i class="fas fa-bath"><span>5 Baths</span></i>
            <i class="fas fa-toilet"><span>5 Toilets</span></i>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="assets/images/3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="prop-wrap">
            <h4>$3,500</h4>
            <div class="greenBTN">
              <a>View Property</a>
            </div>
          </div>
          <span>Lekki, Lagos</span>
          <div class="prop-wrap">
            <i class="fas fa-bed"><span>5 Beds</span></i>
            <i class="fas fa-bath"><span>5 Baths</span></i>
            <i class="fas fa-toilet"><span>5 Toilets</span></i>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="assets/images/4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="prop-wrap">
            <h4>$3,500</h4>
            <div class="greenBTN">
              <a>View Property</a>
            </div>
          </div>
          <span>Lekki, Lagos</span>
          <div class="prop-wrap">
            <i class="fas fa-bed"><span>5 Beds</span></i>
            <i class="fas fa-bath"><span>5 Baths</span></i>
            <i class="fas fa-toilet"><span>5 Toilets</span></i>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="assets/images/5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="prop-wrap">
            <h4>$3,500</h4>
            <div class="greenBTN">
              <a>View Property</a>
            </div>
          </div>
          <span>Lekki, Lagos</span>
          <div class="prop-wrap">
            <i class="fas fa-bed"><span>5 Beds</span></i>
            <i class="fas fa-bath"><span>5 Baths</span></i>
            <i class="fas fa-toilet"><span>5 Toilets</span></i>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="assets/images/2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="prop-wrap">
            <h4>$3,500</h4>
            <div class="greenBTN">
              <a>View Property</a>
            </div>
          </div>
          <span>Lekki, Lagos</span>
          <div class="prop-wrap">
            <i class="fas fa-bed"><span>5 Beds</span></i>
            <i class="fas fa-bath"><span>5 Baths</span></i>
            <i class="fas fa-toilet"><span>5 Toilets</span></i>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="assets/images/3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="prop-wrap">
            <h4>$3,500</h4>
            <div class="greenBTN">
              <a>View Property</a>
            </div>
          </div>
          <span>Lekki, Lagos</span>
          <div class="prop-wrap">
            <i class="fas fa-bed"><span>5 Beds</span></i>
            <i class="fas fa-bath"><span>5 Baths</span></i>
            <i class="fas fa-toilet"><span>5 Toilets</span></i>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="assets/images/4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="prop-wrap">
            <h4>$3,500</h4>
            <div class="greenBTN">
              <a>View Property</a>
            </div>
          </div>
          <span>Lekki, Lagos</span>
          <div class="prop-wrap">
            <i class="fas fa-bed"><span>5 Beds</span></i>
            <i class="fas fa-bath"><span>5 Baths</span></i>
            <i class="fas fa-toilet"><span>5 Toilets</span></i>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="assets/images/5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="prop-wrap">
            <h4>$3,500</h4>
            <div class="greenBTN">
              <a>View Property</a>
            </div>
          </div>
          <span>Lekki, Lagos</span>
          <div class="prop-wrap">
            <i class="fas fa-bed"><span>5 Beds</span></i>
            <i class="fas fa-bath"><span>5 Baths</span></i>
            <i class="fas fa-toilet"><span>5 Toilets</span></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="f-properties">
  <h3>What They Say About <strong>Us</strong></h3>
  <div class="bd-example">
    <div id="whattheysay" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item">
          <div class="card">
            <div class="img-container">
              <img src="assets/images/pro1.jpg">
              <br>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Corporis modi fuga quod vero harum amet
                ullam
                eaque
                voluptate molestiae</p>
              <h4>John Paul</h4>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card">
            <div class="img-container">
              <img src="assets/images/pro2.jpg">
              <br>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Corporis modi fuga quod vero harum amet
                ullam
                eaque
                voluptate molestiae</p>
              <h4>John Paul</h4>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card">
            <div class="img-container">
              <img src="assets/images/pro3.jpg">
              <br>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Corporis modi fuga quod vero harum amet
                ullam
                eaque
                voluptate molestiae</p>
              <h4>John Paul</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="f-properties x2">
  <h3>Latest News From <strong>Us</strong></h3>
  <div class="x2-inner">
    <div class="card" style="width: 21rem;">
      <img src="assets/images/6.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Lorem ipsum dolor <br>sit amet</h5>
        <p class="card-text">er in dicam laboramus voluptatibus, an phaedrum perpetua consequuntur nec. Solum</p>
        <div class="greenBTN">
          <a>Read More</a>
        </div>
      </div>
    </div>
    <div class="card" style="width: 21rem;">
      <img src="assets/images/7.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Lorem ipsum dolor <br>sit amet</h5>
        <p class="card-text">er in dicam laboramus voluptatibus, an phaedrum perpetua consequuntur nec. Solum</p>
        <div class="greenBTN">
          <a>Read More</a>
        </div>
      </div>
    </div>
    <div class="card" style="width: 21rem;">
      <img src="assets/images/8.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Lorem ipsum dolor <br>sit amet</h5>
        <p class="card-text">er in dicam laboramus voluptatibus, an phaedrum perpetua consequuntur nec. Solum</p>
        <div class="greenBTN">
          <a>Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bootm-div">
    <h3>Special Hotel Deals and Offers</h3>
    <div>Enter your email addresss to receive secret hotel deals</div>
    <div class="mail-bar">
      <a>Enter Your Email Addres</a>
      <div class="greenBTN">
        <span>Subscribe</span>
      </div>
  </div>

</div>