<div class="">
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h3><a>HOMR</a></h3>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a>For Sale</a></li>
          <li><a>For Rent</a></li>
          <li><a>Blog</a></li>
          <li>
            <div class="greenBTN">
              <a>Sign Up/Login</a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </header>


  <section id="first-sec">
    <div class="first-sec-container">
      <h3>Helping You Find The Space You Need</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Corporis modi fuga quod vero harum amet ullam
        eaque
        voluptate molestiae</p>
      <div class="card">
        <div class="card-cont">
          <span>Where do you want to live?</span>
        </div>
        <div class="card-cont">
          <span>Type</span>
        </div>
        <div class="card-cont">
          <span>Bedrooms</span>
        </div>
        <div class="card-cont">
          <span>Max Price</span>
        </div>
        <div class="greenBTN">
          <i class="fa fa-search"></i>
          <span>search</span>
        </div>
      </div>
    </div>
  </section>
</div>

<app-properties></app-properties>